# These requirements are here to avoid crashes when trying to install mockfactory.
# because mockfactory tries to install pmesh, which requires numpy and cython and fails to install them ?.
numpy

# Also, the Sphinx package does not support C-based extensions, so we need to install them manually 
# they are mock-installed in the conf.py file for the docs, with pmesh
# Cython
# mpi4py
# mpsort
# pfft-python